.link-large-screen,
.link-small-screen {
  position: relative;
  text-decoration: none;
  color: #fff;
  &::after {
    content: '';
    width: 0;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    height: 4px;
    display: block;
    transition: width 1s linear;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.link-small-screen {
  color: #000;
  &::after {
    background-color: #000;
  }
}

.Nav-Link {
  margin-right: 2rem;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: #fff;
  text-decoration: none;
}
