.card-container {
  position: relative;
  transform: scale(1);
  transition: all 1s;
  &-link {
    text-decoration: none;
    background-color: gray;
  }
  &-cart_btn {
    position: absolute !important;
    right: 0.5rem;
    top: 0;
  }
  .card-holder {
    padding-right: 2rem;
    &-hover-state {
      height: 100px;
      padding: 0.5rem;
    }
    &:hover {
      .card-holder-hover-state {
        background-color: gray;
        color: white;
      }
    }
  }
  &:hover {
    transform: scale(1.05);
  }
}
.description {
  display: block !important;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.7rem;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 80%;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
