.card-container {
  position: relative;

  &-link {
    text-decoration: none;
    background-color: gray;
  }
  &-cart_btn {
    position: absolute;
    right: 0.5rem;
    top: 0;
  }
  .card-holder {
    &-hover-state {
      height: 100px;
      padding: 0.5rem;
    }
    &:hover {
      .card-holder-hover-state {
        background-color: gray;
        color: white;
      }
    }
  }
  &:hover {
    scale: 1;
  }
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
